<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address = "net.tcp://magic8server:8090/MagicEightBallService"
                binding = "netTcpBinding"
                contract="ServiceReference1.IEightBall"
                name = "netTcpBinding_IEightBall" />
      <endpoint address = "http://magic8server:8080/MagicEightBallService"
           binding = "basicHttpBinding"
           contract="ServiceReference1.IEightBall"
           name = "basicHttpBinding_IEightBall" /> 
    </client>
  </system.serviceModel>
</configuration>

